{% include "head.html" %}
    <div class="contentcontainer">
    <div class="headings altheading ">
	    <h2>{{ nama }}</h2>
	</div>
        <div class="contentbox">
        <form>
	    <p>
		<label for="textfield"><strong>Nama Vserver:</strong></label>
		<input type="text" class="inputbox" id="nama">
	    </p>
	    <p>
		<label for="textfield"><strong>Memori Vserver:</strong></label>
		<select>
		    <option>Dropdown Menu Example</option>
		</select>
	    </p>
	    <p>
		<label for="textfield"><strong>IP Vserver:</strong></label>
		<select>
		    <option>Dropdown Menu Example</option>
		</select>
	    </p>
	    <p>
		<label for="textfield"><strong>Password Vserver:</strong></label>
		<input type="text" class="inputbox" id="password">
	    </p>
	    <p>
		<label for="textfield"><strong>Ulangi Password Vserver:</strong></label>
		<input type="text" class="inputbox" id="repassword">
	    </p>
	    <p>
		<label for="textfield"><strong>Otimatis Menyala saat Server Booting:</strong></label>
		<input type="checkbox" id="autostart">
	    </p>
	    
	    <p>
		<input type="button" id="buatvps" value="Buat VPS" class="btn">
	    </p>
        </form>
    </div>
    </div>
{% include "sidebar.html" %}
{% include "foot.html" %}
