<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pymin , Virtual Private Server Admin</title>
<link href="/asset/styles/layout.css" rel="stylesheet" type="text/css" />
<link href="/asset/styles/wysiwyg.css" rel="stylesheet" type="text/css" />
<link href="/asset/themes/blue/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" SRC="/asset/scripts/enhance.js"></script>	
<script type='text/javascript' SRC="/asset/scripts/excanvas.js"></script>
<script type='text/javascript' SRC="/asset/scripts/jquery.min.js"></script>
<script type='text/javascript' SRC="/asset/scripts/jquery-ui.min.js"></script>
<script type='text/javascript' SRC="/asset/scripts/jquery.wysiwyg.js"></script>
<script type='text/javascript' SRC="/asset/scripts/visualize.jQuery.js"></script>
<script type="text/javascript" SRC="/asset/scripts/functions.js"></script>
</head>
<body id="homepage">
	<div id="header">
	<a href="/pymin" title=""><img SRC="/asset/img/cp_logo.png" alt="Control Panel" class="logo" /></a>
        <div id="searcharea">
         <p>Memory server </p>
        </div>
    </div>

    <div id="breadcrumb">
    	<ul>	
    	<li><img SRC="/asset/img/icons/icon_breadcrumb.png" alt="Location" /></li>
        	<li><strong>Location:</strong></li>
            <li><a href="#" title="">Sub Section</a></li>
            <li>/</li>
            <li class="current">Control Panel</li>
        </ul>
    </div>
    
    <div id="rightside">
