        <div id="footer">
        	&copy; Glue Network Developer
        </div> 
          
    </div>
    <!-- Right Side/Main Content End -->
    
        <!-- Left Dark Bar Start -->
    <div id="leftside">
    	<div class="user">
            <p>Login sebagai:</p>
            <p class="username">Administrator</p>
            <p class="userbtn"><a href="#" title="">Profile</a></p>
            <p class="userbtn"><a href="#" title="">Log out</a></p>
        </div>
        <div class="notifications">
        	<p class="notifycount"><a href="" title="" class="notifypop">10</a></p>
            <p><a href="" title="" class="notifypop">New Notifications</a></p>
            <p class="smltxt">(Click to open notifications)</p>
        </div>
        
        <ul id="nav">
        
            <li>
                <a class="expanded heading">VPS Area</a>
                 <ul class="navigation">
                    <li><a href="#" title="">Daftar VPS</a></li>
                    <li><a href="#" title="">Buat VPS</a></li>
                    <li><a href="#" title="">Section link here</a></li>
                </ul>
            </li>
            <li><a class="expanded heading">Section Heading</a>
                <ul class="navigation">
                    <li><a href="#" title="" class="likelogin">Section link here</a></li>
                    <li><a href="#" title="">Section link here</a></li>
                    <li><a href="#" title="">Section link here</a></li>
                </ul>
            </li>            
        </ul>
    </div>