        <div id="footer">
        	&copy; Glue Network Developer
        </div> 
          
    </div>
    <!-- Right Side/Main Content End -->
    
        <!-- Left Dark Bar Start -->
    <div id="leftside">
    	<div class="user">
            <p>Selamat datang kembali</p>
            <p class="username">Administrator</p>
            <p class="userbtn"><a href="/" title="">Log out</a></p>
        </div>
        
        
        <ul id="nav">
        
            <li>
                <a class="expanded heading">Pengaturan VPS</a>
                 <ul class="navigation">
                    <li><a href="/pymin/" title="">Daftar VPS</a></li>
                    <li><a href="/pymin/buat_vps" title="">Buat VPS</a></li>
                    <li><a href="/pymin/vps_berjalan" title="">VPS Berjalan</a></li>
                </ul>
            </li>
            <li><a class="expanded heading">Pengaturan sistem</a>
                <ul class="navigation">
                    <li><a href="/pymin/log" title="">Catatan Sistem</a></li>
                    <li><a href="/pymin/status_server" title="">Status Server</a></li>
                    <li><a href="/pymin/tentang" title="">Tentang Pymin</a></li>
                </ul>
            </li>            
        </ul>
    </div>
