 {% include "head.html" %}
    <div class="contentcontainer med left">
	<div class="headings altheading">
	    <h2>{{ nama }}</h2>
	</div>
    <div class="contentbox">
 
        <p> 
	    <table>
		<tr><td>Versi Kernel</td><td>:</td><td><strong>{{ data['vkernel']}}</strong></td></tr>
		<tr><td>Memori Server Terpasang</td> <td>:</td><td><strong>{{ data['memori']}}</strong></td></tr>
		<tr><td>Memori Server Sisa</td><td>:</td><td><div class="usagebox" style="width: 300px;"><div class="{{ data['freebar']}}" style="width: {{ data['freememori']}}%;" align="center"><span style="color: #4545CA; display: block; padding-top: 4px;"> {{ data['freememori']}}%</span></div></td></tr>
		<tr><td>Jenis Proccesor</td><td>:</td><td><strong>{{ data['jenis_proc']}}</strong></td></tr>
		<tr><td>Kerja CPU </td><td>:</td><td><div class="usagebox" style="width: 300px;"><div class="{{ data['procbar']}}" style="width: {{ data['proc']}}%;" align="center"><span style="color: #4545CA; display: block; padding-top: 4px;"> {{ data['proc']}}%</span></div></td></tr>
		
		<tr><td>Server sudah menyala selama</td><td>:</td><td><strong>{{ data['uptime']}}</strong></td></tr>
	    </table>
	</p>
	</div>
    </div>
    
    <div class="contentcontainer sml right">
	<div class="headings altheading">
	    <h2>Informasi Mengenai Vserver</h2>
	</div>
	<div class="contentbox">
	    <table>
		<tr><td>Direktori Rumah</td><td>:</td><td>{{ vserver['rootdir'] }}</td></tr>
		<tr><td>Tempat Installasi</td><td>:</td><td>{{ vserver['prefix'] }} </td></tr>
		<tr><td>Tempat Konfigurasi</td><td>:</td><td>{{ vserver['confdir'] }}</td></tr>
		<tr><td>Partisi Penyimpanan</td><td>:</td><td>{{ vserver['mount']}}</td></tr>
		<tr><td>Ukuran Penyimpanan</td><td>:</td><td>{{ vserver['totalmount']}}</td></tr>
		<tr><td>Sisa Penyimpanan</td><td>:</td><td><div class="usagebox" style="width: 200px;"><div class="{{ vserver['mountbar']}}" style="width: {{ vserver['persenmount']}}%;" align="center"><span style="color: #4545CA; display: block; padding-top: 4px;"> {{ vserver['persenmount']}}%</span></div></td></tr>
	    </table>
	</div>
   </div>
{% include "sidebar.html" %}
{% include "foot.html" %}