 {% include "head.html" %}
    <div class="contentcontainer">
	<div class="headings alt">
	    <h2>{{ nama }}</h2>
	</div>
        <div class="contentbox"> 
        <p>Pymin adalah sebuah sistem manajemen Virtual Private Server yang bebasiskan Vserver. Pymin dibangun dengan menggunakan bahasa Python.</p>
        <p>Untuk dapat menjalankan Pymin anda membutuhkan beberapa aplikasi pendukung sebagai berikut: 
	    <ol>
		<li><a target="blank" href="http://python.org/">Python 2.4 atau lebih tinggi</a></li>
		<li><a target="blank" href="http://kambing.ui.ac.id/iso/slackware/slackware-13.1-iso/slackware-13.1-install-dvd.iso">Slackware 13.1 Gnu/linux</a></li>
		<li><a target="blank" href="http://vserver.13thfloor.at/Experimental/patch-2.6.33.7-vs2.3.0.36.30.4.diff">Patch kernel vs2.3.0.36.30.4</a></li>
		<li><a target="blank" href="http://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.33.7.tar.bz2">Kernel 2.6.33.7</a></li>
		<li><a target="blank" href="http://ftp.linux-vserver.org/pub/utils/util-vserver/util-vserver-0.30.215.tar.bz2">Util-Vserver 0.30.215</a></li>
	    </ol>
	    Cara membangun Server Virtual Private Server barbasis Vserver dapat anda lihat pada <a target="blank" href="http://research.bramandityo.com/index.php?id=langkah-langkah-membuat-vps">http://research.bramandityo.com/</a>
        </p>
        
	</div>
    </div>
{% include "sidebar.html" %}
{% include "foot.html" %}